<div class="row">
	<div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
		<h1>Checkout</h1>
		<h4>Your total: ${{ totalPrice }}</h4>
		<form action="/checkout" method="post">
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" id="name" name="name" class="form-control" required>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
						<label for="name">Address</label>
						<input type="text" id="address" name="address" class="form-control" required>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
						<label for="name">Card Holder Name</label>
						<input type="text" id="card_holder_name" name="card_holder_name" class="form-control" required>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
						<label for="name">Credit Card Number</label>
						<input type="text" id="card_card_number" name="card_card_number" class="form-control" required>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group">
								<label for="name">Expiration Month</label>
								<input type="text" id="expiration_month" name="expiration_month" class="form-control" required>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group">
								<label for="name">Expiration Year</label>
								<input type="text" id="expiration_year" name="expiration_year" class="form-control" required>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
						<label for="name">CVC</label>
						<input type="text" id="CVC" name="CVC" class="form-control" required>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-success">Buy now</button>
		</form>
	</div>
</div>